In [1]:
%matplotlib inline

# data wrangling + vis
import ssl

import pandas as pd
import pandas.io.sql as psql

# postgres
import psycopg as pg

In [2]:
# samples postgres connector config
pg_user = 'test'
pg_pass = 'test'
pg_host = '127.0.0.1'
pg_port = 5554
pg_db_name = "db_samples"

In [3]:
# PostgreSQL connector
print('connecting to PostgreSQL ...')
try:
    pg_conn = pg.connect(
        conninfo=f"dbname={pg_db_name} user={pg_user} password={pg_pass} host={pg_host} port={pg_port}")
except Exception:
    print('error connecting to PostgreSQL: trying different host (Docker?? cogstack-samples-db)')
    pg_host = "cogstack-samples-db"
    port=5432
    pg_conn = pg.connect(
        conninfo=f"dbname={pg_db_name} user={pg_user} password={pg_pass} host={pg_host} port={pg_port}")
print('connected to PostgreSQL')

connecting to PostgreSQL ...
connected to PostgreSQL

In [4]:
from typing import Any, cast

# example: read the DB and create pandas data frame
medical_reports_text_pg_df = pd.read_sql('SELECT * FROM medical_reports_text', con=cast(Any, pg_conn))
medical_reports_text_pg_df.head()

/var/folders/hq/yfddnn6s5hl98lx8fk1whyw40000gn/T/ipykernel_63207/3485733607.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  medical_reports_text_pg_df = pd.read_sql('SELECT * FROM medical_reports_text', con=cast(Any, pg_conn))

,docid,sampleid,typeid,dct,filename,document
0,1,1641,98,2019-10-30 16:53:58.477127,__tmp/txt/mtsamples-type-98-sample-1641.txt,Sample Type / Medical Specialty: General Medi...
1,2,1642,98,2019-10-07 23:38:43.866248,__tmp/txt/mtsamples-type-98-sample-1642.txt,Sample Type / Medical Specialty: General Medi...
2,3,1654,98,2019-12-02 17:05:18.100627,__tmp/txt/mtsamples-type-98-sample-1654.txt,Sample Type / Medical Specialty: General Medi...
3,4,1668,98,2020-08-03 03:19:12.581134,__tmp/txt/mtsamples-type-98-sample-1668.txt,Sample Type / Medical Specialty: General Medi...
4,5,1669,98,2020-03-14 06:47:10.383654,__tmp/txt/mtsamples-type-98-sample-1669.txt,Sample Type / Medical Specialty: General Medi...

In [5]:
mt_samples_pg_df = pd.read_sql('SELECT * FROM mtsamples', con=cast(Any, pg_conn))
mt_samples_pg_df.head()

/var/folders/hq/yfddnn6s5hl98lx8fk1whyw40000gn/T/ipykernel_63207/1683214796.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mt_samples_pg_df = pd.read_sql('SELECT * FROM mtsamples', con=cast(Any, pg_conn))

,cid,sample_id,type,type_id,name,description,document,dct
0,1,1019,ENT - Otolaryngology,100,Endoscopic Sinus Surgery,"Ethmoidectomy, antrostomy with polyp removal, ...",\n\n\nPREOPERATIVE DIAGNOSIS:\n1. Left chroni...,2025-06-24 12:16:12.486074
1,2,1078,ENT - Otolaryngology,100,Collar Tubes,Collar Tubes technique,\n\n\nThe patient was mask induced under gener...,2025-06-24 12:16:12.489593
2,3,1193,ENT - Otolaryngology,100,Recurrent nasal obstruction,"Patient with suspected nasal obstruction, poss...",\n\n\nCHIEF COMPLAINT: Recurrent nasal obstru...,2025-06-24 12:16:12.490339
3,4,123,ENT - Otolaryngology,100,Laryngoscopy,"Direct laryngoscopy, rigid bronchoscopy and di...",\n\n\nPREOPERATIVE DIAGNOSIS\nSubglottic upper...,2025-06-24 12:16:12.491131
4,5,1275,ENT - Otolaryngology,100,Nasolabial Fold Elevation,Left midface elevation with nasolabial fold el...,\n\n\nPREOPERATIVE DIAGNOSIS: Left nasolabial...,2025-06-24 12:16:12.491953

In [6]:
patients_pg_df = pd.read_sql('SELECT * FROM patients', con=cast(Any, pg_conn))
patients_pg_df.head()

/var/folders/hq/yfddnn6s5hl98lx8fk1whyw40000gn/T/ipykernel_63207/1193045528.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  patients_pg_df = pd.read_sql('SELECT * FROM patients', con=cast(Any, pg_conn))

,id,birthdate,deathdate,ssn,drivers,passport,prefix,first,last,suffix,maiden,marital,race,ethnicity,gender,birthplace,address,city,state,zip
0,b9f5a11b-211d-4ced-b3ba-12012c83b937,1939-08-04,1996-03-15,999-11-9633,S99999830,X106007X,Mr.,Brady,Lynch,None,None,M,white,polish,M,Worcester,701 Schiller Esplanade,Fitchburg,Massachusetts,01420
1,fab43860-c3be-4808-b7b4-00423c02816b,1962-06-21,2011-03-10,999-67-8307,S99958025,X26840237X,Mrs.,Antonia,Benavides,None,Padrón,M,hispanic,mexican,F,Rockland,643 Hand Bay,Boston,Massachusetts,02108
2,84dd6378-2ddc-44b6-9292-2a4461bcef53,1998-12-01,None,999-50-5147,S99987241,None,Mr.,Keith,Conn,None,None,None,white,english,M,Rockland,461 Spinka Extension Suite 69,Framingham,Massachusetts,01701
3,9929044f-1f43-4453-b2c0-a2f45dcdd4be,2014-09-23,None,999-64-4171,None,None,None,Derrick,Lakin,None,None,None,white,irish,M,Tewksbury,577 Hessel Lane,Hampden,Massachusetts,None
4,ed465121-436f-47df-9628-0e84aa54504b,1959-04-03,None,999-50-2000,S99959540,X40373132X,Mr.,Murray,Luettgen,None,None,M,white,american,M,Beverly,1046 Willms Green,Lunenburg,Massachusetts,01462